<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @image.image %>
</p>

<p>
  <strong>Image title:</strong>
  <%= @image.image_title %>
</p>

<p>
  <strong>Image file size:</strong>
  <%= @image.image_file_size %>
</p>

<p>
  <strong>Image content type:</strong>
  <%= @image.image_content_type %>
</p>

<p>
  <strong>Image description:</strong>
  <%= @image.image_description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @image.category_id %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
